#userBox {
	width: 260px;
	height: 50px;
	font-size: 14px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px dashed;
    border-color: black;
    -moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}
#userBox img {
	float: left;
	margin: 4px 10px 0 6px;
	width: 45px;
	height: 45px;
}
#userBox p {
	margin-top: 4px;
}
.infoWindowTitle {
	font-weight: bolder;
	font-size: 16px;
}
#languageBtn {
	text-align: center;
}

#languageBtn img {
	width: 35px;
	margin-right: 15px;
}
#loginBtn, #share {
	margin: 20px 0 10px 0; 
	cursor: pointer; 
	background-image: linear-gradient(bottom, rgb(67,97,159) 45%, rgb(89,114,168) 73%, rgb(101,123,176) 87%);
	background-image: -o-linear-gradient(bottom, rgb(67,97,159) 45%, rgb(89,114,168) 73%, rgb(101,123,176) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(67,97,159) 45%, rgb(89,114,168) 73%, rgb(101,123,176) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(67,97,159) 45%, rgb(89,114,168) 73%, rgb(101,123,176) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(67,97,159) 45%, rgb(89,114,168) 73%, rgb(101,123,176) 87%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.45, rgb(67,97,159)),
		color-stop(0.73, rgb(89,114,168)),
		color-stop(0.87, rgb(101,123,176))
	);
	background-color: #43609F;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	color: #ffffff;
}
#loginBtn p {
	padding: 0 0 0 35px;
	background-repeat: no-repeat;
	background-image: url("/images/facebook-f.png");
	text-align: center;
	font-size: 20px;
	line-height: 2;
}
#share {
	width: 110px;
}
#share p {
	padding: 0 0 0 25px;
	background-repeat: no-repeat;
	background-image: url("/images/facebook-f.png");
	background-size: 25px 25px;
	text-align: center;
	font-size: 12px;
	line-height: 2;
}
