#map-canvas {
	float: left;
	width: 600px;
	height: 350px;
	border: solid red 0px;
	margin: 10px 0 20px 25px;
	display: inline;
}

.placeIcon {
	width: 16px;
	height: 16px;
	margin: 2px;
}

#autocomplete {
	width: 480px;
	border: 1px solid #ccc;
	height: 20px;
	font-size: 16px;
}

#place {
	width: 600px;
	border: solid blue 0px;
	font-size: 14px;
	margin-left: 25px;
	float: left;
}

#place input {
	width: 230px;
	border: solid 1px #c5c5c5;
}

#place textarea {
	width: 230px;
	height: 100px;
	border: solid 1px #c5c5c5;
}

#place select {
	width: 235px;
	border: solid 1px #c5c5c5;
}

#place label {
	color: #343434;
	display: inline-block;
	font-weight: bold;
	width: 140px;
	float:left;
}

#place ul {
	margin: -5px 0 0 10px;
}

#place ul li {
	padding: 8px;
}

#main {
	width: 640px;
	border: solid black 0px;
	margin: 0px auto;
}
.error {
	color: red;
	background-image: url("/images/errorIcon.png");
	padding: 0 0 0 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	display: inline;
}

.success {
	color: green;
	background-image: url("/images/successIcon.png");
	padding: 0 0 0 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	font-size: 18px;
	background-size: 20px;
	margin-left: 30%;
}
.inputError {
	border: solid 1px #f00!important;
}

#userBox {
	width: 260px;
	height: 50px;
	font-size: 14px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px dashed;
    border-color: black;
    -moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

#userBox img {
	float: left;
	margin: 5px 10px 0 10px;
	width: 45px;
	height: 45px;
	border: solid red 1px;
}

#userBox p {
	margin-top: 5px;
}

#listResult { width:580px; font-size:14px; }
#listResult li { border-bottom: 1px dotted black; padding: 10px; float: left; width: 580px;}
#listResult li p {  }
#listResult li em { font-size: 16px; font-weight: bolder;}


.websiteLink, .phone, .address, .pros, .cons {
	padding: 0 0 0 35px;
	background-repeat: no-repeat;
}
.websiteLink { 
	background-image: url("/images/home.png");
}
.phone { 
	background-image: url("/images/phone.png");
}
.address { 
	background-image: url("/images/map-marker-grey.png");
}
.pros { 
	background-image: url("/images/pros.png");
	
}
.cons { 
	background-image: url("/images/cons.png");
}
.infoWindowTitle {
	font-weight: bolder;
	font-size: 16px;
}

.resultLeft {
	float: left;
}

.resultLeftSearch {
	float: left;
	width: 480px;
	margin: 10px 0 10px 0;
}

.reviewLeft {
	float: left;
	text-align: center;
}

.reviewRight {
	float: right;
	margin: 0 0 10px 0;
	width: 510px;
}

.resultRight {
	float: right;
}

.resultRight a:hover {
	text-decoration: none;
}

.mandatory {
	color: red;
	font-weight: bolder;
}

.errorMsg, .successMsg, .validationMsg, .infoMsg {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-weight: bolder;
}
.errorMsg {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/images/error.png');
}

.successMsg {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/images/success.png');
}

.validationMsg {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('/images/validation.png');
}

.infoMsg {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/images/info.png');
}

#ratingLink {
	display: inline-block; 
	float: right;
	background-image: linear-gradient(bottom, rgb(69,99,82) 15%, rgb(155,199,163) 71%);
	background-image: -o-linear-gradient(bottom, rgb(69,99,82) 15%, rgb(155,199,163) 71%);
	background-image: -moz-linear-gradient(bottom, rgb(69,99,82) 15%, rgb(155,199,163) 71%);
	background-image: -webkit-linear-gradient(bottom, rgb(69,99,82) 15%, rgb(155,199,163) 71%);
	background-image: -ms-linear-gradient(bottom, rgb(69,99,82) 15%, rgb(155,199,163) 71%);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	width: 150px;
	text-align: center;
}

#ratingLink a {
	font-weight: bold;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	padding: 10px;
	margin-right: 5px;
}
